
.features {
    margin-top: 70px;
    background: #F4F4F4;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    padding-bottom: 68px;


    &__title {
        left: calc(677 / 1380)*100%;
        @include montserrat-bold; 
        font-size: 48px;
        line-height: 48px;
        align-items: center;
        color: $main-color;
        position: absolute;
        right: 94px;
        top: 84px;
        text-align: center;

    }

    &__wrapper {
        display: grid;
        grid-template-columns: calc(46 / 54)*1fr 1fr;
        padding-left: 3%;
    }

    &__list {
        padding: 0 15px;
    }

    &__item {
        display: grid;
        grid-template-columns: calc(9 / 30)*1fr 1fr;
        margin-bottom: 5%;
    }

    &__img {
        width: auto;
        object-fit: cover;
        margin: 0 auto;
    }

    &__inner {
        margin-left: 7%;
        font-family: 'Montserrat', sans-serif;
    }

    &__subtitle {
        @include montserrat-normal;
        font-size: 16px;
        line-height: 21px;
        align-items: center;
        color: #323232;
    }

    &__txt {
        @include montserrat-normal;
        font-size: 14px;
        line-height: 21px;
        align-items: center;
        color: #848E97;
    }

    &__example {
        position: relative;
    }

    &__code {
        z-index: 5;
        left: 15%;
        top: 80px;
        width: calc(705 / 723)*100%;
        max-height: 580px;
        position: absolute;
        object-fit: cover;
    }
}






.features__item:last-child {
    margin-bottom: 0;
}

